@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px; /* Sets the base font size to 16px */
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
body.dark {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.75)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.mask-sil {
  -webkit-mask-image: url("/images/silhouette.png");
  mask-image: url("/images/silhouette.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 80%;
  mask-size: 80%;
  mask-position: right bottom;
}

.mask-trans {
  -webkit-mask-image: linear-gradient(to left, black, black, transparent);
  mask-image: linear-gradient(to left, black, black, transparent);
}